APP_TIMEZONE=Asia/Manila

# Database settings
DB_DRIVER=mysql
DB_HOST=localhost
DB_NAME=e-comm
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

# Assets and uploads
IMAGE_BASE_URL=https://images.localfit.store/
